<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RFDownSelectedView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C56D8451E6D690F00366FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C56D85E1E6D690F00366FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C56D8691E6D690F00366FAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
